{{#if topMealSection }}
    {{#each mealPackages}}
        {{#if topPackage}}
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="item-box">
                    <a class="item-a" href="/mealPDesc?mealPNumber={{mealPNumber}}">
                        <div class="item-img-box">
                            <img class="item-img" src="./img/{{image}}" alt={{name}}>
                        </div>
                        <div class="item-text-box">
                            <p class="item-name">{{name}}</p>
                            <p class="item-price">{{price}}</p>
                        </div>
                    </a>
                </div>
            </div>
        {{/if}}
    {{/each}}
{{else}}

{{#if admin}}
    {{#each mealPackages}}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="item-box">
                <a class="item-a" href="/mealPDesc?mealPNumber={{mealPNumber}}">
                    <div class="item-img-box">
                        <img class="item-img" src="./img/{{image}}" alt={{name}}>
                    </div>
                    <div class="item-text-box">
                        <p class="item-name">{{name}}</p>
                        <p class="item-price item-price-admin">{{price}}</p>
                    </div>
                </a>
                <a class="edit-btn-a" href="/editMealP?mealPNumber={{mealPNumber}}">
                    <button class="btn btn-dark banner-btn edit-btn">
                        Edit package
                    </button>
                </a>
            </div>
        </div>
    {{/each}}
{{else}}
    {{#each mealPackages}}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="item-box">
                <a class="item-a" href="/mealPDesc?mealPNumber={{mealPNumber}}">
                    <div class="item-img-box">
                        <img class="item-img" src="./img/{{image}}" alt={{name}}>
                    </div>
                
                    <div class="item-text-box">
                        <p class="item-name">{{name}}</p>
                        <p class="item-price">{{price}}</p>
                    </div>
                </a>
            </div>
        </div>
    {{/each}}

{{/if}}


{{/if}}
