{{!-- Hero section for meals packages --}}
{{> hero data.hero.[1]}}
{{!-- banner --}}
    <h2 class="mealPackage-banner-text"><span>Discover</span> the perfect meal prepared <span>for you</span> by a professional chef today.</h2>
{{!-- Meal packages item list --}}
<section id="meal-packages-list">
    <div class="items-container">
        <div class="items row">
            {{> item-list }}
            {{!-- {{#each data.mealPackage}}
                <div class="col-3">
                    <div class="item-box">
                        <div class="item-img-box">
                            <img class="item-img" src={{img}} alt={{name}}>
                        </div>
                        <div class="item-text-box">
                            <p class="item-name">{{name}}</p>
                            <p class="item-synopsis">{{synopsis}}</p>
                            <p class="item-price">{{price}}</p>
                        </div>
                    </div>
                </div>
                {{else}}
                <p>no data available</p>
            {{/each}} --}}
        </div>
    </div>
</section>